@charset "UTF-8";
/***
** Framework by Quentin Lesdalons
***/
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto.ttf"); }
@font-face {
  font-family: "roboto-thin";
  src: url("fonts/roboto-thin.ttf"); }
p, a, a:link, a:visited, ul li {
  margin-bottom: 15px;
  font-family: "roboto-thin";
  font-weight: bolder; }

h1, h2, h3, h4, h5, h6 {
  font-family: "roboto", Georgia;
  color: #333333;
  font-weight: 500; }

small, .small {
  font-size: 75%;
  color: gray; }

a, a:link, a:visited {
  text-decoration: none;
  color: #333333; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through; }

ins, u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  border-bottom: 1px dotted black; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #29353a;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #29353a;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p, blockquote a, blockquote a:link, blockquote a:visited {
  display: inline;
  color: #29353a; }

code {
  background-color: #29353a;
  color: white;
  font-size: 1.3em; }

kbd {
  padding: 0.2em 0.6em;
  border: 2px solid #ccc;
  background-color: #f7f7f7;
  white-space: nowrap;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

pre {
  background-color: #eee; }

ul.square {
  list-style-type: square; }

ul.decoration-none {
  list-style: none; }

.border {
  border: 2px groove gray; }

.active-hover:hover {
  cursor: crosshair; }

.altern tr:nth-child(odd) {
  background-color: black;
  color: white; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*Gutter width, number of columns*/
.hidden-lg {
  display: none; }

.row:before, .row:after, .container:before, .container:after {
  float: none;
  display: table;
  content: " "; }

.row:after, .container:after {
  clear: both; }

.clearfix-lg {
  clear: both; }

.col-1 {
  width: 5.33333%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-2 {
  width: 13.66667%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-3 {
  width: 22%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-4 {
  width: 30.33333%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-5 {
  width: 38.66667%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-6 {
  width: 47%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-7 {
  width: 55.33333%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-8 {
  width: 63.66667%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-9 {
  width: 72%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-10 {
  width: 80.33333%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-11 {
  width: 88.66667%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.col-12 {
  width: 97%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
  margin-bottom: 10px; }

.off-1 {
  margin-left: 9.83333%; }

.off-2 {
  margin-left: 18.16667%; }

.off-3 {
  margin-left: 26.5%; }

.off-4 {
  margin-left: 34.83333%; }

.off-5 {
  margin-left: 43.16667%; }

.off-6 {
  margin-left: 51.5%; }

.off-7 {
  margin-left: 59.83333%; }

.off-8 {
  margin-left: 68.16667%; }

.off-9 {
  margin-left: 76.5%; }

.off-10 {
  margin-left: 84.83333%; }

.off-11 {
  margin-left: 93.16667%; }

@media (min-device-width: 480px) and (max-device-width: 1024px), (min-width: 768px) and (max-width: 1024px) {
  .clearfix-md {
    clear: both; }

  .hidden-md {
    display: none; }

  .clearfix-lg {
    clear: none; }

  .col-md-1 {
    width: 5.33333%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-2 {
    width: 13.66667%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-3 {
    width: 22%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-4 {
    width: 30.33333%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-5 {
    width: 38.66667%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-6 {
    width: 47%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-7 {
    width: 55.33333%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-8 {
    width: 63.66667%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-9 {
    width: 72%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-10 {
    width: 80.33333%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-11 {
    width: 88.66667%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-md-12 {
    width: 97%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .off-md-0 {
    margin-left: 1.5%; }

  .off-md-1 {
    margin-left: 9.83333%; }

  .off-md-2 {
    margin-left: 18.16667%; }

  .off-md-3 {
    margin-left: 26.5%; }

  .off-md-4 {
    margin-left: 34.83333%; }

  .off-md-5 {
    margin-left: 43.16667%; }

  .off-md-6 {
    margin-left: 51.5%; }

  .off-md-7 {
    margin-left: 59.83333%; }

  .off-md-8 {
    margin-left: 68.16667%; }

  .off-md-9 {
    margin-left: 76.5%; }

  .off-md-10 {
    margin-left: 84.83333%; }

  .off-md-11 {
    margin-left: 93.16667%; } }
@media (max-device-width: 480px), (max-width: 768px) {
  .hidden-sm {
    display: none; }

  .hidden-lg {
    display: block; }

  .clearfix-sm {
    clear: both; }

  .clearfix-lg {
    clear: none; }

  .col-sm-1 {
    width: 5.33333%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-2 {
    width: 13.66667%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-3 {
    width: 22%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-4 {
    width: 30.33333%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-5 {
    width: 38.66667%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-6 {
    width: 47%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-7 {
    width: 55.33333%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-8 {
    width: 63.66667%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-9 {
    width: 72%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-10 {
    width: 80.33333%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-11 {
    width: 88.66667%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .col-sm-12 {
    width: 97%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .off-sm-0 {
    margin-left: 1.5%; }

  .off-sm-1 {
    margin-left: 9.83333%; }

  .off-sm-2 {
    margin-left: 18.16667%; }

  .off-sm-3 {
    margin-left: 26.5%; }

  .off-sm-4 {
    margin-left: 34.83333%; }

  .off-sm-5 {
    margin-left: 43.16667%; }

  .off-sm-6 {
    margin-left: 51.5%; }

  .off-sm-7 {
    margin-left: 59.83333%; }

  .off-sm-8 {
    margin-left: 68.16667%; }

  .off-sm-9 {
    margin-left: 76.5%; }

  .off-sm-10 {
    margin-left: 84.83333%; }

  .off-sm-11 {
    margin-left: 93.16667%; } }

/*# sourceMappingURL=main.css.map */
