$font_main : 'roboto';
$font_second : 'roboto-thin';
$text_color : #333333;
$font_weight : bolder;

@font-face {
	font-family: $font_main;
	src: url('fonts/roboto.ttf');
}

@font-face {
  font-family: $font_second;
  src: url('fonts/roboto-thin.ttf');
}

p, ul li {
    margin-bottom: 15px;
    font-family: $font_second;
    font-weight: $font_weight;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font_main,Georgia;
	color: $text_color;
	font-weight: 500;
}

small, .small {
	font-size: 75%;
	color: gray;
}

a, a:link, a:visited{
  @extend p;
  text-decoration: none;
  color: $text_color;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}