@mixin grid($gutWidth, $colCount,$marge_top) {

	.hidden-lg {
		display: none;
	}

	$colWidth : (100% - ($colCount * $gutWidth))/$colCount;
	$heightspace : $gutWidth/2;

	.row:before, .row:after, .container:before, .container:after{
		float : none;
	 	display: table;
	  	content: " ";
	}

	.row:after, .container:after {
		clear: both;
	}

	.container {
	}

	.clearfix-lg {
		clear: both;
	}

	@for $i from 1 through $colCount {
		.col-#{$i} {
			width : ($colWidth*$i) + (($i - 1) * $gutWidth);
			float: left;
			margin-left: $gutWidth/2;
			margin-right: $gutWidth/2;
			margin-top: $marge_top;
			margin-bottom: $marge_top;
		}
	}

	@for $i from 1 to $colCount {
		.off-#{$i} {
			margin-left: $i*($colWidth+$gutWidth) + $gutWidth / 2;
		}
	}

	//Moyen
	@media (min-device-width: 480px) and (max-device-width: 1024px), (min-width: 768px) and (max-width: 1024px){

		.clearfix-md {
			clear: both;
		}

		.hidden-md {
			display: none;
		}

		.clearfix-lg {
			clear: none;
		}

		@for $i from 1 through $colCount {
			.col-md-#{$i} {
				width : ($colWidth*$i) + (($i - 1) * $gutWidth);
				float: left;
				margin-left: $gutWidth/2;
				margin-right: $gutWidth/2;
				margin-top: $marge_top;
				margin-bottom: $marge_top;
			}
		}

		@for $i from 0 to $colCount {
			.off-md-#{$i} {
				margin-left: $i*($colWidth+$gutWidth) + $gutWidth / 2;
			}
		}

	}	


	//Mobiles
	@media (max-device-width: 480px),(max-width: 768px) {

		.hidden-sm {
			display: none;
		}

		.hidden-lg {
			display: block;
		}

		.clearfix-sm {
			clear: both;
		}

		.clearfix-lg {
			clear: none;
		}

		@for $i from 1 through $colCount {
			.col-sm-#{$i} {
				width : ($colWidth*$i) + (($i - 1) * $gutWidth);
				float: left;
				margin-left: $gutWidth/2;
				margin-right: $gutWidth/2;
				margin-top: $marge_top;
				margin-bottom: $marge_top;
			}
		}

		@for $i from 0 to $colCount {
			.off-sm-#{$i} {
				margin-left: $i*($colWidth+$gutWidth) + $gutWidth / 2;
			}
		}

	}	

}
	