/***
** Framework by Quentin Lesdalons
***/

//Importation of elements
@import 'grid';
@import 'fonts';
@import 'elements';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*Gutter width, number of columns*/
@include grid(3%,12,10px);

