/*************INIT*************/
* {
  padding: 0;
  margin: 0; }

/*************GLOBAL STYLE*************/
header {
  background-color: #ECEFF1;
  top: 0;
  width: 100%;
  padding: 5px;
  min-height: 85px; }

h1 {
  color: #e91e63;
  font-size: 2vw;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  padding: 50px; }

a:hover article {
  background-color: #f2f4f5; }

.responsive-run > .dark {
  background-color: #ECEFF1;
  padding: 5px; }

.runs > div:nth-child(even) {
  clear: left; }

.less-margin {
  margin-bottom: 10px !important; }

.lighten-back {
  background-color: #f5f6f7; }

.event-descr > p {
  max-height: 16ex;
  overflow: hidden; }

.container {
  background-color: #ECEFF1; }

.add-margin-sides {
  width: 94%;
  margin-right: 3%;
  margin-left: 3%; }

.results {
  padding: 10px; }

.img-event {
  margin-left: 0; }

/*************FORM STYLES*************/
input, button, select {
  font-size: 1.2vw; }

input[type="file"] {
  font-size: 1vw; }

input:focus, textarea:focus {
  background-color: #fdeff4; }

button, input[placeHolder], input[type="submit"], label {
  color: #333333;
  font-family: "roboto-thin";
  font-weight: bolder; }

label {
  margin-bottom: 15px; }

textarea[name="description"] {
  font-family: "roboto-thin";
  font-size: 1.1vw; }

/*************NAV STYLE*************/
nav a:link {
  font-family: "roboto";
  font-weight: normal; }

nav a:active, nav a:hover {
  color: #e91e63;
  border-top: 2px solid #e91e63;
  padding: 4px; }

#logo {
  max-width: 450px; }

.responsive-menu {
  display: none; }

/*************TABLE STYLES*************/
tr:nth-child(odd) {
  background-color: #f7a9c4; }

tr:nth-child(odd):hover {
  background-color: #f06493; }

tr:nth-child(even):hover {
  background-color: white; }

tr:nth-child(even) {
  background-color: #fdeff4; }

table {
  border: 2px solid #022a35; }

thead tr {
  background-color: #333e45 !important;
  color: white; }

.table-container {
  font-size: 1.5vw;
  font-family: "roboto-thin" !important;
  max-height: 750px;
  overflow-y: auto; }

/*************FOOTER STYLES*************/
footer {
  background-color: #e91e63;
  text-align: right;
  padding-right: 5%;
  padding-top: 5px;
  color: #333333;
  font-size: 1.3em;
  width: 100% !important;
  margin: 0 !important; }

footer p {
  margin-top: 10px; }

footer img {
  max-width: 350px; }

/*FOR TABLETS*/
@media (min-device-width: 480px) and (max-device-width: 1024px), (min-width: 768px) and (max-width: 1024px) {
  /*************GLOBAL STYLE*************/
  .event-descr p {
    max-height: 11ex;
    overflow: hidden; }

  .drop-down > h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ECEFF1;
    text-align: center; }

  .drop-down > div {
    display: none; }

  .drop-down:hover > div {
    display: block; }

  /*************FORM STYLES*************/
  select, input[type="file"] {
    font-size: 2.2vw; }

  input, button, textarea[name="description"] {
    font-family: "roboto-thin";
    font-size: 2vw;
    font-weight: bolder; }

  /*************TABLE STYLES*************/
  .table-container {
    font-size: 2.5vw;
    height: 500px; } }
/*FOR MOBILES*/
@media (max-device-width: 480px), (max-width: 768px) {
  /*************GLOBAL STYLE*************/
  .event-descr > p {
    display: none;
    margin-top: 0; }

  .event-descr:hover > p, header nav, .responsive-run:hover > div, .responsive-run:hover > p {
    display: block; }

  .responsive-run > h4,
  .responsive-run > h3 {
    text-align: center;
    font-size: 7vw; }

  .responsive-run > h3 {
    background-color: #f5f6f7; }

  .event-title {
    margin-left: 3%; }

  h1, h2, h3, p, input, button {
    font-size: 4vw; }

  /*************FORM STYLES*************/
  select {
    font-size: 4.4vw; }

  textarea[name="description"] {
    font-family: "roboto-thin";
    font-size: 3vw; }

  /*************TABLE STYLES*************/
  .table-container table {
    font-size: 5vw; }

  .table-container {
    overflow-y: auto;
    max-height: 800px; }

  /*************NAV STYLES*************/
  .responsive-menu p {
    font-size: 7vw;
    display: inline-block;
    margin-left: 5%; }

  .responsive-menu img {
    width: 6%; }

  .responsive-menu {
    display: block;
    text-align: center; }

  header nav a, .responsive-run > div, .responsive-run > p {
    display: none; }

  header nav:hover a {
    display: block;
    font-size: 5vw;
    text-align: center; }

  /*************FOOTER STYLES*************/
  footer p {
    font-size: 3.7vw; } }

/*# sourceMappingURL=style.css.map */
