/*************INIT*************/
$pink : #e91e63;
$back-color : #ECEFF1;
$font-light : 'roboto-thin';
$font : 'roboto';
$color : #333333;

* {
	padding: 0;
	margin: 0;
}

/*************GLOBAL STYLE*************/
header {
    background-color: $back-color;
    top: 0;
    width: 100%;
    padding: 5px;
    min-height: 85px;
}

h1 {
	color: $pink;
	font-size: 2vw;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	padding: 50px;
}

a:hover article {
    background-color: lighten($back-color, 2%);
}

.responsive-run > .dark {
    background-color: $back-color;
    padding: 5px;
}

.runs > div:nth-child(even) {
    clear:left;
}

.less-margin {
    margin-bottom: 10px !important;
}

.lighten-back {
    background-color: lighten($back-color, 3%);
}

.event-descr > p {
    max-height: 16ex;
    overflow: hidden;
}

.container {
    background-color: $back-color;
}

.add-margin-sides {
    width:94%;
    margin-right: 3%;
    margin-left: 3%;
}

.results {
    padding : 10px;
}

.img-event {
    margin-left: 0; 
}

/*************FORM STYLES*************/
input, button, select{
	font-size: 1.2vw;
}

input[type="file"] {
    font-size: 1vw;
}

input:focus, textarea:focus {
    background-color: lighten($pink,45%);
}

button, input[placeHolder], input[type="submit"], label {
    color: $color;
    font-family: $font-light;
    font-weight: bolder;
}

label  {
    margin-bottom: 15px;
}

textarea[name="description"] {
    font-family: $font-light;
    font-size: 1.1vw;
}

/*************NAV STYLE*************/

nav a:link{
	font-family: $font;
	font-weight: normal;
}

nav a:active, nav a:hover {
	color: $pink;
	border-top: 2px solid $pink;
	padding: 4px;
}

#logo {
	max-width: 450px; 
}

.responsive-menu {
    display: none;
}

/*************TABLE STYLES*************/
tr:nth-child(odd) {
	background-color: lighten($pink, 30%);
}

tr:nth-child(odd):hover {
	background-color: lighten($pink, 15%);
}

tr:nth-child(even):hover {
	background-color: lighten($pink, 70%);
}

tr:nth-child(even) {
    background-color: lighten($pink, 45%);
}

table {
	border: 2px solid #022a35;
}

thead tr{
	background-color: darken($back-color,70%) !important;
	color: white;
}

.table-container {
    font-size: 1.5vw;
    font-family: $font-light !important;
    max-height: 750px;
    overflow-y: auto;
}   

/*************FOOTER STYLES*************/
footer {
	background-color: $pink;
	text-align: right;
	padding-right: 5%;
	padding-top: 5px;
	color : $color;
	font-size: 1.3em;
    width:100% !important;
    margin:0 !important;
}

footer p {
	margin-top: 10px;
}

footer img {
	max-width: 350px;
}

/*FOR TABLETS*/
@media (min-device-width: 480px) and (max-device-width: 1024px), (min-width: 768px) and (max-width: 1024px){

    /*************GLOBAL STYLE*************/
    .event-descr p {
        max-height: 11ex;
        overflow: hidden;
    }

    .drop-down > h4 {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $back-color;
        text-align:center;
    }
    
    .drop-down > div{
        display: none;
    }
    
    .drop-down:hover > div {
        display: block;
    }

    /*************FORM STYLES*************/

    select, input[type="file"] {
        font-size: 2.2vw;
    }

    input, button, textarea[name="description"] {
        font-family: $font-light;
        font-size: 2vw;
        font-weight: bolder;
    }

    /*************TABLE STYLES*************/

    .table-container {
        font-size: 2.5vw;
        height: 500px;
    }

}


/*FOR MOBILES*/
@media (max-device-width: 480px), (max-width: 768px) {

    /*************GLOBAL STYLE*************/
    .event-descr > p {
        display: none;
        margin-top: 0;
    }

    .event-descr:hover > p, header nav, .responsive-run:hover > div, .responsive-run:hover > p {
        display: block;
    }
    
    .responsive-run > h4,
    .responsive-run > h3 {
        text-align: center;
        font-size: 7vw;
    }

    .responsive-run > h3 {
        background-color: lighten($back-color, 3%);
    }

    .event-title {
        margin-left: 3%;
    }

    h1,h2,h3,p, input,button {
        font-size: 4vw;
    }

    /*************FORM STYLES*************/
    select {
        font-size: 4.4vw;
    }

    textarea[name="description"] {
        font-family: $font-light;
        font-size: 3vw;
    }

    /*************TABLE STYLES*************/
	.table-container table {
		font-size: 5vw;
	}

    .table-container {
        overflow-y: auto;
        max-height: 800px;
	}

    /*************NAV STYLES*************/
    .responsive-menu p {
		font-size: 7vw;
        display: inline-block;
		margin-left: 5%;
	}

	.responsive-menu img {
		width: 6%;
	}

	.responsive-menu {
        display: block;
		text-align: center;
    }

	header nav a, .responsive-run > div, .responsive-run > p {
		display: none;
	}

	header nav:hover a{
		display: block;
		font-size: 5vw;
		text-align: center;
	}

    /*************FOOTER STYLES*************/
	footer p{
		font-size: 3.7vw;
	}
    
}